.Container{
    margin-top: 40px;
    width:500px !important;
    height: auto;
  
  }
  .SignUpText{
    font-size: 40px !important;
    text-decoration: underline;
  
  }
  .SignUptextFields{
    width:400px !important;
    margin-top: 20px;
  }
  .HaveAcc{
    margin-top: 20px;
    color: black !important;
    font-size: 17px !important;
    margin-bottom: 20px;
  }
  .SignUpbtn{
    padding-top: 10px !important;  
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right:20px !important;
    background: #002f34 !important;
    color: white !important;
    margin-top: 10px !important;
    border-radius: 30px !important;
  }