:root{
    --border:rgb(34,193,195)
}
.SignUpButton {
  color: black !important;
  /* margin-left: 40px !important; */
  font-size: 16px;
  font-weight: 800 !important;
  border: 5px solid var(--border)!important;
  /* border-top: 6px solid rgba(35,239,213,1) !important; */
  border-radius: 50px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-right: 20px !important;
  padding-left: 15px !important;
 
}
.SignUpImg {
  height: 200px;
  width: 200px;
}
.SignUpButton1 {
  padding-left: 60px !important;
  padding-right: 82px !important;
  border: 2px solid black !important;
  border-radius: 10px;
}

.SignUpButton2 {
  padding-left: 60px !important;
  padding-right: 60px !important;
  border: 2px solid black !important;
  border-radius: 10px;
}
.SignUpButton3 {
  padding-left: 60px !important;
  padding-right: 79px !important;
  border: 2px solid black !important;
  border-radius: 10px;
}
.SignUpButton4 {
  padding-left: 60px !important;
  padding-right: 92px !important;
  border: 2px solid black !important;
  border-radius: 10px;
}
